@tailwind base;
@tailwind components;

@layer components {
  .input {
    @apply p-3 text-xl text-gray-800 border border-gray-300 rounded-md
  }

  .w-full-button{
    @apply font-medium text-white p-2.5 rounded-md w-full
  }
}
@tailwind utilities;

body{
  background-color: theme("colors[light-blue]");
}

.spinner-active{
  overflow: hidden;
}

.tooltip:after{
  width: 5px !important;
  height: 5px !important;
}

